{# src/Becker/WebAppBundle/Resources/views/Default/search.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}BECKER WEBAPP{% endblock %}

{% block body %}
    {% if term == "" %}
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h1>ERWEITERTE SUCHE</h1>
            </div>
        </div>
        <div class="listenzeile row">
            <div class="col-xs-10 col-xs-offset-1"> 
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="pull-right">Kategorie</span>
                        </div>
                        <div class="col-xs-2">
                        {{ form_widget(form.kategorie) }}
                        {{ form_errors(form.kategorie) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 ">
                            <span class="pull-right">Name</span>
                        </div>
                        <div class="col-xs-2"> 
                        {{ form_widget(form.name) }}                        
                        {{ form_errors(form.name) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 ">
                            <span class="pull-right">Arbeitshöhe</span>
                        </div>
                        <div class="col-xs-2"> 
                        {{ form_widget(form.ahoehe) }} 
                        {{ form_errors(form.ahoehe) }}
                        </div>
                    </div>
                        <div class="row">
                        <div class="col-xs-3 ">
                            <span class="pull-right">Korblast</span>
                        </div>
                    <div class="col-xs-2"> 
                        {{ form_widget(form.korblast) }}                        
                        {{ form_errors(form.korblast) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 ">
                            <span class="pull-right">Länge</span>
                        </div>
                    <div class="col-xs-2"> 
                        {{ form_widget(form.laenge) }}                        
                        {{ form_errors(form.laenge) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 ">
                            <span class="pull-right">Breite</span>
                        </div>
                    <div class="col-xs-2"> 
                        {{ form_widget(form.breite) }}                        
                        {{ form_errors(form.breite) }}
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-xs-3 ">
                            <span class="pull-right">Seitl. Reichweite</span>
                        </div>
                    <div class="col-xs-2"> 
                        {{ form_widget(form.reichweite) }}                        
                        {{ form_errors(form.reichweite) }}
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-xs-3 ">
                            <span class="pull-right">Höhe</span>
                        </div>
                    <div class="col-xs-2"> 
                        {{ form_widget(form.hoehe) }}                        
                        {{ form_errors(form.hoehe) }}
                        </div>
                    </div>   
                    <div class="row">
                        <div class="col-xs-3 ">
                            <span class="pull-right">Abstützbreite</span>
                        </div>
                    <div class="col-xs-2"> 
                        {{ form_widget(form.stuetzbreite) }}                        
                        {{ form_errors(form.stuetzbreite) }}
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-xs-3 ">
                            <span class="pull-right">Hersteller</span>
                        </div>
                    <div class="col-xs-2"> 
                        {{ form_widget(form.hersteller) }}                        
                        {{ form_errors(form.hersteller) }}
                        </div>
                    </div>   
                    <div class="row">
                        <div class="col-xs-3 ">
                            <span class="pull-right">Tag</span>
                        </div>
                    <div class="col-xs-2"> 
                        {{ form_widget(form.tag1) }}                        
                        {{ form_errors(form.tag1) }}
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-xs-3 ">
                            <span class="pull-right"></span>
                        </div>
                    <div class="col-xs-2"> 
                        {{ form_widget(form.suchen) }}   
                        </div>
                    </div> 
                {{ form_end(form) }}
                
            </div>
        </div>
        <div class=" row">
            <div class="col-xs-11 col-sm-5 col-lg-5 col-xs-offset-1">         
                <br>
                
                <h4>TIPP</h5>
                <p><small>Um nach Werten zu suchen, die kleiner als ein bestimmter Wert sind können Sie das Zeichen "<" nutzen. Beispiel: "<30" im Feld "Arbeitshöhe" sucht nach allen Einträgen mit einer Arbeitshöhe unter 30 Metern</small></p>
                <p><small>Um nach Werten zu suchen, die größer als ein bestimmter Wert sind können Sie das Zeichen ">" nutzen. Beispiel: ">30" im Feld "Arbeitshöhe" sucht nach allen Einträgen mit einer Arbeitshöhe größer gleich 30 Metern</small></p>
            </div>
        </div>
    {% else %}
        {{ render(controller(
             'BeckerWebAppBundle:Buehnen:search',
             { 'term': term  }
        )) }}
    {% endif %}
            
{% endblock %}