{# app/Resources/views/arbeitsbuehne/searchResults.html.twig #}
    
<div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h1>SUCHERGEBNISSE</h1>
                {% if total > 1 %}
                    <h4><small>Suchbegriff "{{ term }}" ergab {{total}} Ergebnisse</small></h4>
                {% else %}
                    <h4><small>Suchbegriff "{{ term }}" ergab {{total}} Ergebnis</small></h4>   
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1"> 
                {% for buehne in buehnen %}        
                    <div class="listenzeile row">
                        <div class="col-xs-12 col-sm-4 col-lg-4">
                            <a href="/wa/web/arbeitsbuehne/show/{{buehne.id}}" onclick="OpenLink(this); return false">
                                <img src="/wa/web/uploads/img/{{buehne.img}}.jpg" alt="{{buehne.name}}" class="img-responsive">
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-6">
                            <h4>{{buehne.name}}<small>{{buehne.hersteller}}</small></h4>
                            <p><strong>Arbeitshöhe:</strong> {{buehne.ahoehe}} m</p>
                            <p><strong>Korblast:</strong> {{buehne.korblast}} kg</p>
                            <p><strong>Seitl. Weitreiche:</strong> {{buehne.reichweite}} m</p>
                            <p><strong>Abstützbreite:</strong> {{buehne.stuetzbreite}} m</p>
                            <p> <span class="label label-primary">{{buehne.tag1}}</span>
                                <span class="label label-success">{{buehne.tag2}}</span>
                                <span class="label label-warning">{{buehne.tag3}}</span></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    